<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444586507110-18srh53jtlfj3ha1l9eo2picgivipvdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444586507110-18srh53jtlfj3ha1l9eo2picgivipvdi</string>
	<key>API_KEY</key>
	<string>AIzaSyCXCnb6dlDuDs1YXPsUXzcC6h6GJNohLC8</string>
	<key>GCM_SENDER_ID</key>
	<string>444586507110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agriculture.agri</string>
	<key>PROJECT_ID</key>
	<string>diary-cf5f0</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-cf5f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444586507110:ios:8e662a9c21d7667ee7a6a7</string>
</dict>
</plist>